body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.IdCard,
.Greetings,
.Random,
.BoxColor {
  border: 1px solid gray;
  margin: 16px;
  padding: 8px;
  display: flex;
  gap: 32px;
  line-height: 0;
}

.allCreditCards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.DriverCard {
  margin: 10px;
}
